<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lc.admin.system.mapper.SystemUserRoleMapper">

    <!--  添加用户角色列表关联数据  -->
    <insert id="batchUserRole">
        INSERT INTO system_user_role (user_id,role_id)
        VALUES
        <foreach item="userRole" index="index" separator="," collection="userRoles">
            (#{userRole.userId},#{userRole.roleId})
        </foreach>
    </insert>

    <!--  根据用户id删除用户角色关联数据  -->
    <delete id="deleteUserRolesByUserId" parameterType="java.lang.Long">
        DELETE
        FROM system_user_role
        WHERE user_id = #{userId}
    </delete>

    <!--  根据用户id列表删除用户角色关联数据  -->
    <delete id="deleteUserRolesByUserIds">
        DELETE FROM system_user_role WHERE user_id IN
        <foreach collection="userIds" index="index" item="userId" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </delete>

    <!--  根据角色id与用户id删除角色用户关联数据  -->
    <delete id="deleteUserRole" parameterType="org.lc.admin.system.entities.entity.SystemUserRole">
        DELETE
        FROM system_user_role
        WHERE user_id = #{userId}
          AND role_id = #{roleId}
    </delete>

    <!--  根据角色id与用户id列表删除角色用户关联数据  -->
    <delete id="deleteUserRoles">
        DELETE
        FROM system_user_role
        WHERE role_id = #{roleId}
        AND user_id IN
        <foreach collection="userIds" index="index" item="userId" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </delete>

    <!--  根据角色id查询用户数量  -->
    <select id="selectCntUserRoleByRoleId" resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM system_user_role
        WHERE role_id = #{roleId}
    </select>


</mapper>